{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div>
                <h1>Investissement</h1>
                <table border="1" cellpadding="10" cellspacing="1" width="100%">
                    <tr>
                        <td>Prix de d'achat FAI</td>
                        <td>{{ prix_achat }}€</td>
                    </tr>
                    <tr>
                        <td>Fraix de notaire</td>
                        <td>{{ frais_notaire }}€</td>
                    </tr>
                    <tr>
                        <td>Prix des travaux</td>
                        <td>{{ montant_travaux }}€</td>
                    </tr>
                    <tr>
                        <td>Prix des meubles</td>
                        <td>{{ prix_meubles }}€</td>
                    </tr>
                    <tr>
                        <td>Apport personnel</td>
                        <td>{{ apport }}€</td>
                    </tr>
                    <tr>
                        <th>Somme à emprunter</th>
                        <th>{{ emprunt }}€</th>
                    </tr>
                </table>
            </div>

            <div>
                <h1>Financement</h1>
                <table border="1" cellpadding="10" cellspacing="1" width="100%">
                    <tr>
                        <td>Durée du crédit</td>
                        <td>{{ duree }} mois</td>
                    </tr>
                    <tr>
                        <td>Taux crédit</td>
                        <td>{{ taux }}%</td>
                    </tr>
                    <tr>
                        <td>Taux d'assurance crédit</td>
                        <td>{{ taux_assurance }}%</td>
                    </tr>
                    <tr>
                        <th>Mensualité crédit (hors assurance)</th>
                        <th>{{ credit_sa }}€</th>
                    </tr>
                    <tr>
                        <th>Mensualité crédit (avec assurance)</th>
                        <th>{{ credit_aa }}€</th>
                    </tr>
                </table>
            </div>

            <div>
                <h1>Recettes</h1>
                <table border="1" cellpadding="10" cellspacing="1" width="100%">
                    <tr>
                        <td>Loyer brut mensuel</td>
                        <td>{{ loyer_brut }}€</td>
                    </tr>
                    <tr>
                        <td>Loyer au m<sup>2</sup></td>
                        <td>{{ loyer_m2 }}€</td>
                    </tr>
                    <tr>
                        <td>Nombre de loyers / an</td>
                        <td>{{ nombre_loyers }}</td>
                    </tr>
                    <tr>
                        <th>Total</th>
                        <th>{{ recettes }}€</th>
                    </tr>
                </table>
            </div>

            <div>
                <h1>Charges</h1>
                <table border="1" cellpadding="10" cellspacing="1" width="100%">
                    <tr>
                        <td>Charges de coproprietés</td>
                        <td>{{ charges_copro }}€</td>
                    </tr>
                    <tr>
                        <td>Frais de gestion</td>
                        <td>{{ frais_gestion }}€</td>
                    </tr>
                    <tr>
                        <td>Frais d'entretien</td>
                        <td>{{ frais_renovation }}€</td>
                    </tr>
                    <tr>
                        <td>Assurance Garantie Risque Loyer</td>
                        <td>{{ assu_grl }}€</td>
                    </tr>
                    <tr>
                        <td>Assurance Propietaire Non Occupant</td>
                        <td>{{ assu_pno }}€</td>
                    </tr>
                    <tr>
                        <td>Taxe foncière</td>
                        <td>{{ taxe_fonciere }}€</td>
                    </tr>
                    <tr>
                        <td>Crédit annuel</td>
                        <td>{{ credit_annuel }}€</td>
                    </tr>
                    <tr>
                        <th>Total</th>
                        <th>{{ charges }}€</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
        h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
        h1 { font-size: 36px; }
        h2 { font-size: 21px; margin-bottom: 1em; }
        p { margin: 0 0 1em 0; }
        a { color: #0000F0; }
        a:hover { text-decoration: none; }
        code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
        #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
        #container { padding: 2em; }
        #welcome, #status { margin-bottom: 2em; }
        #welcome h1 span { display: block; font-size: 75%; }
        #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
        #icon-book { display: none; }

        @media (min-width: 768px) {
            #wrapper { width: 80%; margin: 2em auto; }
            #icon-book { display: inline-block; }
            #status a, #next a { display: block; }

            @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
            @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
            .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
        }
    </style>
{% endblock %}
